aiohttp==3.7.4
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2022.12.7
chardet==3.0.4
colorama==0.4.3
discord.py==1.6.0
idna==2.9
lazy-object-proxy==1.4.3
multidict==5.1.0
requests==2.24.0
soupsieve==2.0.1
toml==0.10.1
urllib3==1.25.9
yarl==1.6.3